@font-face {
  font-family: "LED";
  src:
    local("LED"),
    url("../assets/LED.ttf"),
}

html,
body {
	font-family:'Tahoma', sans-serif;
    color:#FFFFFF;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:#444;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    cursor: pointer;
}

td, th {
    text-align: left;
    padding:4px;
}

#canvas {
    overflow: hidden;
    width: 100%;
}

#timer, #timer-overlay {
    width:80px;
    height:60px;
    font-family: "LED";
    font-size: 60px;
    color: white;
    position:absolute;
    top:5px;
    right:10px;
    text-align: right;
}

#message {
    position:absolute;
    top:10px;
	left:calc(50% - 95px);
    text-align: center;
    max-width: 210px;
    font-size: 20px;
    font-family: 'Monaco',monospace;
}

#menu {
	margin: 0px auto;
	padding:20px;
	width:180px;

	background-color:rgba(70, 70, 70, 0.7); 
	border:1px rgba(255, 255, 255, 0.5) solid;
	position:absolute;
	top:50px;
	left:calc(50% - 100px);
	text-align:center;
	font-size:12px;


    
}

#menu img {
	padding-bottom:10px;
}

#menu-scores table {
    width:100%;
    border-collapse: collapse;
}

#menu-scores td {
    border:1px solid #999;
    background-color: #222;
}


.button{
	margin: 0px auto;
	color:#FFFFFF;
	display:block;
	background-image:url("../assets/images/button1.png");
	background-size: 100% 100%;
	width:100px;
	text-decoration:none;
	height:20px;

	padding-top:4px;
	margin-bottom:14px;
	background-color:#646464;
	text-align:center;
}

a.button:active:not(.inactive) {
	background-image:url("../assets/images/button2.png");
	padding-top:4px;
	height:20px;
}

a.inactive {
	cursor:pointer;
	color:#646464;
}

.hidden {
    display:none;
}

.fade-out {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

/* https://css-tricks.com/snippets/css/typewriter-effect/*/

 .typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #58F; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 4s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #58F; }
}