@font-face {
  font-family: "LED";
  src:
    local("LED"),
    url("../assets/LED.ttf"),
}

html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:#444;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvas {
    overflow: hidden;
    width: 100%;
}

#timer {
    width:100%;
    font-family: "LED";
    font-size: 60px;
    color: white;
    position:absolute;
    top:5px;
    right:10px;
    text-align: right;
}